
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.3;
}

body {
  font-family: sans-serif;
  letter-spacing: 1px;
}

html {
  letter-spacing: 1px;
  /* cursor: auto; */
}


.carousel-enter {
  @apply opacity-0 transform translate-x-full;
}
.carousel-enter-active {
  @apply opacity-100 transform translate-x-0 transition duration-1000;
}
.carousel-exit {
  @apply opacity-100 transform translate-x-0;
}
.carousel-exit-active {
  @apply opacity-0 transform -translate-x-full transition duration-1000;
}


